*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 247, 251, 1);
    padding-left: 270px;
    padding-right: 300px;
    position: relative;
}

.main{
    background-color: rgba(245, 247, 251, 1);
    padding-left: 270px;
    padding-right: 300px;
    position: relative;
}
.main div{
    display: flex;
    gap: 3rem;
    width: 500px;
}

.main div button{
    border: 1px solid rgba(77, 91, 158, 1);
    background: transparent;
    color: rgba(41, 50, 100, 1);
    border-radius: 15px;
    padding: 3px 15px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.main div button:hover{
    background-color: rgba(214, 219, 245, 1);
}


.blob1{
    position: absolute;
    right: 0px;
}

.blob2{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

h1{
    color: rgba(41, 50, 100, 1);
    margin-top: 218px;
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2{
    color: rgba(41, 50, 100, 1);
    font-size: 1.5rem;
    text-align: left;
    width: 500px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3{
    color: rgba(41, 50, 100, 1);
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

.start{
    background-color: rgba(77, 91, 158, 1);
    color: rgba(245, 247, 251, 1);
    margin-bottom: 184px;
    width: 193px;
    height: 52px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.start:hover{
    background-color: hsl(230, 34%, 36%);
}

.start:active{
    background-color: hsl(230, 34%, 26%);
}

@media (max-width: 800px){
    main{
        padding-left: 179px;
        padding-right: 179px;
    }
    h1{
        margin-top: 100px;
    }
}